<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav 
    mode="side" 
    [opened]="sidenavService.isOpen()"
    (openedChange)="sidenavService.isOpen.set($event)" 
    class="sidenav"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon aria-hidden="false" matListIcon>home</mat-icon>
        <span matLine>Home</span>
      </a>

      <a mat-list-item routerLink="/departments" routerLinkActive="active-link">
        <mat-icon aria-hidden="false" matListIcon>business</mat-icon>
        <span matLine>Departments</span>
      </a>

      <a mat-list-item routerLink="/recruiters" routerLinkActive="active-link">
        <mat-icon aria-hidden="false" matListIcon>people</mat-icon>
        <span matLine>Recruiters</span>
      </a>

      <a mat-list-item routerLink="/positions" routerLinkActive="active-link">
        <mat-icon aria-hidden="false" matListIcon>work</mat-icon>
        <span matLine>Positions</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>
